#GitIgnore File

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Google Chrome Extension Builds
Google Chrome/build/*.pem

# Firefox Extension Builds
_temp/

# Opera Extension Builds
Opera/build/*.pem