html, body {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 430px;
    overflow: hidden;
    background-color: #212121; /* Dark background color */
}

.container {
    display: grid;
    grid-template-rows: 43px 271px 75px;
    gap: 10px;
    height: 100%;
    padding: 0 16px; /* Maintain lateral padding */
    background-color: transparent;
    overflow: hidden;
}

.header_grid {
    display: grid;
    grid-template-columns: auto 24px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #212121; /* Slightly lighter box for the header */
    border-radius: 8px; /* Optional: adds rounded corners to the box */
}

.title {
    color: #FFFFFF;
    font-size: 20px;
}

.settings-icon {
    justify-self: end;
    cursor: pointer;
}

.settings-icon svg {
    fill: #FFFFFF; /* Ensuring icon is visible on dark background */
    vertical-align: middle;
    cursor: pointer;
}

/* -Separator- */
.separator {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}

/* -Primary Grid- */
.primary_grid {
    display: grid;
    grid-template-columns: none;
    height: 100%;
    padding: 0 16px;
    overflow: hidden;
    background-color: #4F4F4F; /* Slightly lighter box */
    border-color: #212121;
    border-radius: 8px;
}

.plugins_title {
    align-items: center;
    text-align: center;
    height: fit-content;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* -Volume Booster Grid- */
.volume_grid {
    display: grid;
    height: 100%;
    padding: 0 16px 10px;
    align-items: center;
    align-content: center;
    overflow: hidden;
    background-color: #4F4F4F; /* Slightly lighter box */
    border-color: #212121;
    border-radius: 8px;
}

.volume_title {
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}

.volume_selector {
    display: flex;
    align-items: center;
    margin-top: -8px;
}

.volume_range {
    width: 100%;
}

.volume_info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    align-items: center;
    justify-items: center;
}

.volume_info_lables {
    color: #FFFFFF;
    font-size: 10px;
}

.volume_info_value {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}

.volume_bypass_cors {
    display: flex;
    color: #FFFFFF;
    font-size: 10px;
    white-space: nowrap;
    white-space: pre;
}

/* Add this to ensure the primary_grid scrolls within the container */
.container, .primary_grid {
    overflow: auto;
}