/* Facebook Downloader Button */
.fb-downloader-downloadbutton {
  position: absolute;
  z-index: 9999 !important; //Ensure it's on top
  left: 0.25vw;
  bottom: 1vh;
  backface-visibility: hidden;
  background-color: #0866ff;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none !important;
  height: 30px;
  outline: none;
  overflow: hidden;
  padding: 7px 15px;
  text-align: center !important;
  margin: auto;
  opacity: .10 !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  clear: both !important;
  pointer-events: auto !important;
  transition: opacity .25s ease-in-out !important;
}

.fb-downloader-downloadbutton:hover {
  opacity: 1 !important;
  clear: both !important;
  background-color: #0888ff;
  text-decoration: none !important;
  transition: opacity .25s ease-in-out !important;
}

.fb-downloader-downloadbutton:not:hover {
 opacity: .10 !important;
 clear: both !important;
 background-color: #0866ff;
 text-decoration: none !important;
 transition: opacity .25s ease-in-out !important;
}

/* Facebook Downloader Alerts */
.alert {
  position: absolute !important;
  opacity: 1;
  z-index: 8888 !important; //Ensure it's on top
  top: 1vh;
  left: 50%;
  height: 35px;
  margin: auto;
  clear: both;
  padding-left: 7px;
  padding-right: 7px;
  transform: translateX(-50%) !important;
  text-align: center !important;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 35px;
  -webkit-tap-highlight-color: transparent;
}

.alert-success {
	color: #0f5132;
	background-color: #d1e7dd;
	border-color: #badbcc;
}

.alert-danger {
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
}