body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

.layout {
    width: 100vw;
    height: 100vh;
  
    display: grid;
    grid:
      "sidebar body" 1fr
      / 240px auto;
}

.sidebar {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #171717;
}

.sidebar-container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar-container section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-top {
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 2px;
    cursor: pointer;
}

.sidebar-title {
    color: white;
    font-size: 20px;
}

.sidebar-logo {
    width: 48px;
    height: 48px;
    margin-right: 7px;
}

.sidebar-separator {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c6c6c6;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-spacer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
}

.sidebar-options li {
    display: flex;
    width: 100%;
}

.sidebar-options ul {
    display: flex;
    flex-direction: column;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 100%;
    gap: 10px;
}

.tablink {
    display: flex;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 17px;
    line-height: 100%;
    text-decoration: none;
    width: 100%;
    align-self: center;
    align-items: center;
}

.tablink.active {
    background-color: #2e2e2e;
}

.tablink:hover {
    background-color: #2e2e2e;
}

.tablink span {
    margin-left: 5px;
}

.tablink i {
    margin-left: 10px;
}

.li-hidden {
    display: none !important;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: 0px;
}

.sidebar-bottom p {
    text-align: center;
    line-height: 0%;
}

.main-container {
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* --- Main Settings Tab Content --- */

.main-tab-content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    background-color: #0F0F0F;
    color: #ffffff;
    width: 75%;
    height: 75%;
    margin-top: 15px;
    animation: mainSettingsContainerFadeEffect 1s;
}

.main-tab-content.show {
    display: flex !important;
}

/* Fade in Dev Tools Containers */
@keyframes mainSettingsContainerFadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.main-container-title {
    display: flex;
    color: #ffffff;
    align-self: center;
    font-size: 24px;
    line-height: 24px;
    min-height: 24px;
    margin-top: 10px;
}

.main-container-separator {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c6c6c6;
    width: 95%;
    margin-top: 3px;
    margin-bottom: 5px;
}

.main-tab-content label {
    display: flex;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* --- Material Icons --- */
/* Rules for normal sizing the icon. */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for outlined sizing the icon. */
.material-icons-outlined.md-16 { font-size: 16px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-20 { font-size: 20px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }